{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}


<main>
<div class="lieu_intro">Votre panier</div>
    <div class="tableau">
        <div id="zone">

        </div>

        <div class="prix_total">prix total : <span id="total">0</span>€</div>
    </div>
    <div class="bouton_commande">
        <a href="./manifestation" class="retour_commande">Retour</a>




        <form action="{{ path('app_final_panier') }}" method="post">

            <input type="hidden" name="liste" id="liste">
            <input type="submit" value="Valider ma commande." class="valider_commande">
        </form>
    </div>


    </div>




    {% endblock %}
