{% extends 'base.html.twig' %}

{% block title %}La Cohorte | Mon panier{% endblock %}

{% block body %}


<main>
<div class="lieu_intro">Votre panier</div>
    <div class="tableau">
        <div id="zone">

        </div>

        
    </div>
    <div class="panier_finir">
        <div class="prix_total">Prix total : <span id="total">0</span>€</div>
        
        <div class="bouton_commande">
        
            <form action="{{ path('app_final_panier') }}" method="post">

            <input type="hidden" name="liste" id="liste">
            <input type="submit" value="Valider ma commande." class="valider_commande">
        </form>
    </div>
    <a href="./manifestation" class="retour_commande">Retour</a>

    


        
    </div>


    </div>




    {% endblock %}
