* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

/* VARIABLES ------------------ */
:root {
    --color-neutre: #eeeeee;
    --color-tonique: #a60000;
    --color-active: #c71717;
    --color-secondaire: #eda010;
    --color-foncee : #650A0A;
    --height-navbar: 60px;

    --border-test : 1px solid black;

    --font-navbar : 'Josefin Sans', sans-serif;
    --font-all : 'Josefin Sans', sans-serif;
}



.container-gallery-manif {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.manif-card
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: var(--font-navbar);
    font-weight: 300;
    margin-bottom: 50px;
    width: 200px;
    min-height: 200px !important;
    flex-basis: 350px;
    color: black;
    transition: 0.2s;
    box-shadow: 0 2px 18px -5px rgb(0 0 0 / 50%);
    background-size: cover;
    background-position: center;
}


.manif-card > div, .manif-card > span {
    
    transition: 0.2s;
}

.manif-card:hover {
    transform: translateY(-20px);
    box-shadow: 0 2px 30px -5px rgb(0 0 0 / 50%);
}

.manif-card:hover > span, .manif-card:hover > div {
    opacity: 1;
    /* background-color: white; */
}


.manif-card-img {
    width: 100%;
    height: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--color-neutre); */
    /* border-radius: 20px 20px 0 0; */
}

.manif-card:hover .manif-card-img {
    opacity: 1;
    background-size: 70%;
}

.manif-card-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 8px;
    opacity: 0;
    transition: 0.4s;
    transform: translateY(200px);
    z-index: 10;
    border : solid 2.5px var(--color-tonique);
    font-size: 20px;
}

.manif-card-button:hover {
    background-color: var(--color-tonique);
    transition: 0.1s !important;
}

.manif-card-button:active {
    background-color: var(--color-active);
}

.manif-card:hover .manif-card-img .manif-card-button{
    opacity: 1;
    transform: translateY(0);
}

.manif-card .manif-card-img .manif-card-img-dark{
    opacity: 0;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manif-card:hover .manif-card-img .manif-card-img-dark {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
}






.container-manif-card {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    gap: 70px;
}
.container-manif-card>* {

}

.manif-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.manif-card-label {
    display: flex;
    justify-content: space-around;
}

.manif-card-label p {
    background-color: var(--color-tonique);
    padding-top: 5px ;
    padding-bottom: 5px ;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
    font-size: x-small;
}

.manif-card-desc {
    font-size: smaller;
    padding: 30px;
}

.card-separation-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-separation {
    width: 40%;
    height: 3px;
    background-color: #252525;
    margin-top: 20px;
    margin-bottom: 20px;
}

.underline {
    text-decoration: underline;
}

/* img {
    max-width: 200px;
} */

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

main {
    opacity: 0;
    padding-top: 80px;
}


/* deuxième page manif */

.show-card {
    height: 370px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 2px 18px -5px rgb(0 0 0 / 50%);
    transition: 0.2s;

}

.show-card-background {
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: flex-end;
}

.show-card-background:hover {
    background-size: 80%;
}

.show-card-content {
    opacity: 0;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.81);
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(0);
    text-align: center;
}

.show-card:hover .show-card-content{
    opacity: 1;
    transform: scale(1);
}

.show-card-content-title{
    color:var(--color-tonique);
    font-family: var(--font-all);
    font-size: 20px;
    margin-top: 10px;
    width: 90%;
    border: var(--color-tonique) 1px solid;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.3);

}


.show-card-content-tagsContainer {

    color: white;
    font-family: var(--font-all);
    margin-top: 10px;
    padding: 0px;

    display: flex;
    justify-content: space-around;
    width: 100%;
}

.show-card-content-tags{
    font-size: 10px;
    height: fit-content;
    padding: 5px;
}

.tagbox {
    height: 60px;
}

.genre{
    background-color:var(--color-tonique);
}

.lieu{
    background-color: white;
    color: var(--color-tonique);
}

.lieu a{
    background-color: white;
    color: var(--color-tonique);
}

.lieu a:visited{
    background-color: white;
    color: var(--color-tonique);
}

.bouton {
    position: absolute;
    bottom: 0;
}

.show-card-content-bouton{
    /* max-width: 10px; */
    margin-top: 10px;
    background-color: var(--color-tonique);
    padding: 10px;
    text-justify: center;
    font-size: 10px;
    width: 100%;
    color: white;
}

.show-card-content-bouton:visited{
    color: white;
}


/* Navbar -------------------------- */

header {
    width: 100vw;
    background-color: var(--color-tonique);
    position: fixed;
    z-index: 2;
}
.navbar {
    width: auto;
    height: var(--height-navbar);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 20px;
    font-family: var(--font-navbar);
}

.navbar-logo-container {
    display: flex;
    align-items: center;
    height: var(--height-navbar);
}

.navbar-logo-container a {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
}

.navbar-logo {
    max-width: 80px;
}

.navbar-list-container a, .navbar-list-container a:visited {
    color: white;
}

.navbar-list-container {
    width: 300px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;

}

.navbar-list-container > a {
    height: 100%;
    display: flex;
    align-items: center ;
    transition: 0.2s ease-in-out;
}

.navbar-list-container > a:hover {
    border-bottom: white 5px solid;
}

.navbar-list1-container {
    width: 300px;
}

.navbar-list2-container {
    width: fit-content;
    height: 100%;
    text-align: center;
}

.navbar-list2-container > div {
    margin-left: 10px;
    margin-right: 10px;
}


.navbar-list-item {
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    cursor: pointer;
    height: fit-content;
}

.navbar-list-item img {
    max-width: 20px;
    transition: 0.5s;
}

.navbar-list-item:hover img {
    transform: rotate(720deg);
}

.navbar-list-item  #panier {
    transition: 0.5s;
    color :white;
    font-size: large;
}

.navbar-list-item:hover  #panier {
    transform: rotate(720deg); 
}

.adminbox a{
    text-decoration:underline;
}





.navbar-list-item a {
    margin-right: 10px !important;
}

.navbar-searchbar-container {
    position: relative;
    opacity: 0;
    z-index: -20;
}

.navbar-searchbar {
    border-radius: 15px;
    height: 25px;
    width: 350px;
    padding: 10px;
    border: none;
}

.navbar-searchbar:focus {
    outline: none;
}


.navbar-searchbar::placeholder {
    color : rgb(186, 186, 186);
}

.icon {
    position: absolute;
    right: 12px;
    top: 4px;
}



/* ACCUEIL --------------------------- */
.home-searchbar-container {
    width: 100vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-searchbar-group {
    background-color: #252525 !important;
    width: 55%;
    height: 50px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.home-searchbar-option {
    border-radius: 40px !important;
    background-color: var(--color-neutre) !important;
    padding: 5px;
    font-weight: 700;
    outline: none;
    color : black !important;
    font-family: var(--font-navbar) !important;
}

.home-searchbar-option::after {
    border-radius: 40px;
}

.home-searchbar-group form {
    width: 100%;
}

.home-searchbar {
    border-radius: 40px;
    width: 400px;
    height: 30px;
    background-color: var(--color-neutre);
    padding-left: 10px;
    outline: none;
    border: none;
}

#form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.home-searchbar-button {
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--color-tonique);
    color: white;
    cursor: pointer;
    font-family: var(--font-all);
}

.home-searchbar-retour {
    position: absolute;
    top: 100px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--color-tonique);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-all);
    text-align: center;
    padding: 5px;
    font-size: small;
}

.retour-animate {
    opacity: 0;
}

.noresult {
    font-family: var(--font-all);
}


/* PAGE INSCRIPTION --------------- */
section.section_form {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-all);
}

div.form_sidepage {
    height: 100%;
    width: 40%;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: contain;
}



.form_sidepage_text {
    color: white;
    width: 95%;
    height: 20%;
}

.form_sidepage_p {
    width: 100%;
}

.form_sidepage_text p:first-child {
    font-size: 20pt;
    margin-bottom: 20px;
}

div.form_container {
    border-radius: 20px;
    width: 70%;
    box-shadow: 0 2px 18px -5px rgb(0 0 0 / 50%);
    height: 70%;
    display: flex;
}

.form_main {
    width: 60%;
}

.form_form {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_form_form {
    height: 80%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form_form_form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_form_form button {
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 18px -5px rgb(0 0 0 / 50%);
    height: 40px;
    background-color: white;
    font-size: var(--font-all);
    cursor: pointer;
    transition: 0.2s;
}

.form_send:hover {
    transform: translate(-2px,-2px);
    box-shadow: 0 2px 18px 0px rgb(0 0 0 / 50%);
}

.form_form_form div input {
    width: 60%;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    background-color:#a6000045;
}

.form_form_form div label {
    opacity: 0.5;
    transform: translateX(180px);
}


.form_checkbox {
    border-radius: 20px !important;
    width: fit-content !important;
    transform: none !important;
}

.form_login_redirect {
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 18px -5px rgb(0 0 0 / 50%);
    height: 40px;
    background-color: white;
    font-size: var(--font-all);
    padding: 15px;
}


/* Page PROFIL */
.profile_info {
    width: 70%;
}

.profile_info_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.profile_info_list p {
    align-self: center !important;
    font-size: smaller !important;
    background-color: var(--color-tonique);
    padding: 10px;
    box-shadow: 0 2px 18px -5px rgb(0 0 0 / 50%);
    color: white;
}

.profile_info_list ul {
    width: 100%;
    display: grid;
    place-items: center;
}

.profile_info_list ul li {
    padding-top:10px;
    padding-bottom:10px;
    width: 100%;
}

.profile-item {
    color: var(--color-tonique);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-item-label {
    color:  var(--color-tonique);
    background-color: white;
    padding: 10px;
    height: 100%;
}

/* ===========PAGE LIEUX============= */

.container-lieu-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    align-items: center;
    padding: 2vw;
    justify-content: center;
    gap: 5vw;
}



li{
    list-style-type: none;
    margin-top: 1vh;
}

.lieu_info{
    padding: 1vw 1vh;
    width: 50%;
    color: white;
}


.lieu_manif{
    padding: 1vw;
    width: 40%;
    color: #650A0A;
    background-color: white;
}

.lieu_mani_current{
    margin-bottom: 1.5vh ;
}

.lieu_place{
    color: #c71717;
    text-align: center;
    margin: 2vh;
    padding: 2vh;
    background-color: white;
}


.lieu_intro {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    font-size: 50px;
    font-family: var(--font-all);
    margin-right: 130px;
    margin-left: 130px;
    margin-bottom: 60px;
    background-color: var(--color-foncee);
    padding: 10px;
    color: white;
}

/* FOOTER  */
footer {
    position: relative;
    bottom: 0;
    height: 400px;
    width: 100vw;
    background-color: var(--color-tonique);
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-all);
    color: white;
}

footer a, footer a:visited {
    color: white;
    width: fit-content;
}


.footer-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}

.footer-list {
    height: 100px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: smaller;
}

.footer-copyright {
    color: white;
    margin-top: 100px;
    margin-top: 40px;
}

/* MENTIONS LEGALES */
.mentions {
    height: fit-content;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-all);
}

.mentions a {
    color: var(--color-tonique);
}
.mentions a:visited {
    color: var(--color-tonique);
}

.mention-container1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.mention-container1 p {
    margin-bottom: 5px;
    width: 500px;
}

.mention-label {
    font-weight: bold;
}

.mention-titre {
    font-size: larger;
    background-color: var(--color-tonique);
    color:white;
    padding: 6px;
}

.mobile-navbar {
    display: none;
}

.upup {
    display: none;
}

/* PAGE LIEUX  */

.lieu_card{
display: flex;
flex-direction: row;
flex-wrap: wrap;
border: none;
padding: 0px;
width: 50%;
flex-basis: 40%;
height: 20vh;
margin-bottom: 0px;
justify-content: space-between;
background-color: #650A0A;
overflow-y: hidden;
}

.lieu_manif {
    height: 100%;
    overflow-y: scroll;
}

/* PANIER  */
.panier_produit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 2px 18px -5px rgb(0 0 0 / 50%);
    width: 80%;
}

.panier_produit div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.panier_produit div button {
    width: 60%;
}

.panier_finir {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-family: var(--font-all);
    height: 100px;
}

.retour_commande, .retour_commande:visited {
    color: black;
}

.valider_commande {
    background-color: var(--color-tonique);
    color: white;
    font-family: var(--font-all);
    padding: 10px;
    border: none;
}

#zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4vh;
    width: 100vw;
    font-family: var(--font-all);
}

/* PAGE RESERVATION */
.resa-background-background {
    width: 100vw;
    height: 70vh;
    position: fixed;
    background-size: cover;
    opacity: 0.8;
    filter: blur(20px);
}
.resa-background {
    width: 100vw;
    height: 70vh;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0;
    background-size: 40%;
    z-index: -1;
}

.resa-infos-container {
    position: absolute;
    top: -260px;
    left: 220px;
    z-index: 2;
    display: flex;
    color: white;
    font-family: var(--font-all);
    width: 100%;
    
}

.resa-infos-infos {
    margin-left: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.resa-infos-infos > div {
    margin-bottom: 30px;
}

.resa-infos-infos div p {
    width: 600px;
}
.resa-infos-prix {
    font-size: 30px;
}
.resa-infos-date {
    font-size: 30px;
}

.resa-infos-titre {
    font-size: 40px;
    max-width: 50%;
}

.resa-image {
    max-width: 200px;
}

.small {
    font-size: 20px;
}

.resa-content-container {
    width: 100vw;
    height: fit-content;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.resa-content-content {
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-family: var(--font-all);
}

.resa-content-content p{
    margin-bottom: 15px;
    line-height: 30px;
}

.main-resa {
    background-color: rgb(255, 255, 255);
    min-height: 150vh;
    margin-bottom: -400px;
}

.resa-ajout {
    background-color: var(--color-tonique);
    color: white;
    padding: 8px;
    transition: 0.4s;
    transform: translateY(200px);
    z-index: 10;
    border : solid 2.5px var(--color-tonique);
    font-size: 20px;
    cursor: pointer;
}

.panier_affiche img{
    max-width: 200px;
}