:root {
    --color-neutre: #eeeeee;
    --color-tonique: #a60000;
    --color-active: #c71717;
    --color-secondaire: #eda010;
    --color-foncee : #650A0A;
    --height-navbar: 60px;

    --border-test : 1px solid black;

    --font-navbar : 'Josefin Sans', sans-serif;
    --font-all : 'Josefin Sans', sans-serif;
}

.final-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5vh;
    margin-top: 5vh;
    font-family: var(--font-all);
}

.final-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-family: var(--font-all);
    height: 10vh;
    width: 60%;
    background-image: url('/bu_sae/sae301/public/img/register_sidebar_bg.png');
    background-size: cover;
    color: #252525;
    border-radius: 10px;
}

.final-DB {
    display: flex;
    /* height: 10vh; */
    width: 60%;
    /* padding: 2vh; */
    justify-content: space-between;
}

.final-pay {
    height: 53vh;
    width: 60%;
    background-color: white;
    box-shadow: 0px 0px 5px #9d9d9d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.final-summary {
    background-color: #a60000;
    height: 53vh;
    /* color: white; */
    width: 35%;
    box-shadow: 0px 0px 5px #9d9d9d;

}

.finalP_titre {
    font-size: 28px;
    text-align: center;
    margin: 1vh;
    color: white;
}

.finalP_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3vw;
    margin-top: 1vh;

}

.finalP_art {
    width: 90%;
    margin: 1vh;
    padding: 1vh;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.39));
    background: #f7f7f7;
}

#finalprod {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 40vh;
    background-color: #dddddd;
}

.final_card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
    width: 80%;
}

.fim{
    margin-top: 0vh!important;
}

.Tot-spaceB {
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
   background-color: var(--color-tonique);
}

.Ttext {
    color: white;
}

#totalPR {
    font-size: 25px;
    background: #fdfdfd;
    padding: 10px;
    border-radius: 7px;
}

.button-valid {
    background-color: #a60000;
    width: 200px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.button-valid a {
    color: white;
}

@media screen and (max-width: 1203px){

    .final-text {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 22px;
        font-family: var(--font-all);
        height: 10vh;
        width: 90%;
        background-image: url('/img/register_sidebar_bg.png');
        background-size: cover;
        border-radius: 10px;
    }

    button-valid {
        background-color: #a60000;
        width: 75vw;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    .final-DB {
        display: flex;
        /* height: 10vh; */
        width: 90%;
        /* padding: 2vh; */
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .final-pay {
        height: 30vh;
        width: 90%;
        background-color: white;
        box-shadow: 0px 0px 5px #9d9d9d;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .final_card {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 5vh;
        width: 80%;
        flex-direction: column;
    }

    .final-summary {
        background-color: #a60000;
        height: 53vh;
        /* color: white; */
        margin-top: 2vh;
        width: 90%;
        box-shadow: 0px 0px 5px #9d9d9d;
    }

}




/*=========== accueil =============*/

  .hero_image{
      background-image: url('/img/404984.jpg');
      background-size: cover;
      width: 100%;
      height: 70vh;
      margin-top: -6vh;
      background-position: center;
      overflow-y: hidden;
      font-family: var(--font-all);
  }

.hero_text {
    background-color: #000000a8;
    height: 100%;
    width: 35%;
    padding: 19vh 7vh 0 6vh;
    color: white;
}

.hero_text>p{
    margin-top: 30px;
    font-size: 22px;
}

.acc_text{
    font-family: var(--font-all);

    display: flex;

    font-size: 19px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.acc_intro {
    width: 60%;
    margin: 5vh;
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    padding: 3vh;
    box-shadow: 0px 0px 5px #9d9d9d;
}



.acc_hook {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acc_hookT {
    font-size: 24px;
    width: 60%;
    text-align: center;
    /* background-image: url(/bu_sae/sae301/public/img/register_sidebar_bg.png); */
    padding: 2vh;
    border-radius: 5px;
    color: black;
}


.acc_redir {
    background-image: url('/img/register_sidebar_bg.png');
    width: 40vw;
    /* text-align: center; */
    display: flex;
    height: 8vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
}

.acc_redir a {
    color: white;
}