@media screen and (min-width: 320px) and (max-width: 1203px){
    /* VARIABLES ------------------ */
    :root {
        --color-neutre: #eeeeee;
        --color-tonique: #a60000;
        --color-active: #c71717;
        --color-secondaire: #eda010;
    
        --height-navbar: 60px;
    
        --border-test : 1px solid black;
    
        --font-navbar : 'Josefin Sans', sans-serif;
        --font-all : 'Josefin Sans', sans-serif;
    }

    .navbar {
        display: none;
    }

    .mobile-navbar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: var(--height-navbar);
    }

    .mobile-menu {
    }

    .mobile-list {
        opacity: 0;
        display: none;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 50px;
    }

    .mobile-list a {
        color: white;
        font-family: var(--font-all);
    }

    .mobile-list div {
        width: fit-content;
    }

    .hamburger-container {
        position: absolute;
        top: 20px;
        width: fit-content;
        height: 20px;
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .mobile-hamburger {
        background-color: white;
        border-radius: 5px;
        width: 30px;
        height: 4px;
    }
    
    .hamburger-item{    
        color: white;
    }

    .hamburger-item{    
        color: white;
    }
    
    .hamburger-menu {
        flex-direction: column;
        justify-content: space-between;
        height: 0px;
        opacity: 0;
        padding-right: 40px;
        text-align: end;
    }


/* BARRE DE RECHERCHE */
.home-searchbar{
    width: 70vw;
    margin-bottom: 10px;
}

.home-searchbar-group {
    background: none;
    flex-direction: column;
}

.home-searchbar-group #form {
    flex-direction: column;
}

.home-searchbar-container{
    /* background-color: pink; */
}

.upup {
    display: block;
    background-color: var(--color-tonique);
    border-top-left-radius: 4px;
    bottom: 0;
    box-sizing: border-box;
    height: 36px;
    width: 30px;
    padding: 6px;
    position: fixed !important;
    z-index: 999999;
}

.upup img {
    max-width: 20px;
}

/* FOOTER  */
footer {
    display: flex;
    height: 100vh;
    justify-content: center;
}

.footer-container {
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

/* PAGE LIEUX  */

.lieu_card {
    flex-basis: 96%;
    margin-bottom: 20px;
}

.lieu_card h1, .lieu_card h2 {
    font-size: 25px;
    margin-top: 10px;
}

/* FORMULAIRES ET PAGE PROFIL */
.form_container {
    flex-direction: column;
    height: 100% !important;
}

.form_container a:visited, .form_container a{
    color: black;
}

.form_sidepage {
    width: 100% !important;
    height: 700px !important;
    border-radius: 20px 20px 0px 0px !important;
    margin-bottom: 50px;
}

.form_sidepage p:first-child {
    font-size: 30px;
}

.form_main {
    width: 100%;
    height: 500px;
    margin-bottom: 40px;
}

/* MENTIONS LEGALES */

.mention-container1{
    width: 80%;
}

.mention-container1 p{
    width: 100%;
}

/* Titre des pages */
.lieu_intro {
    font-size: 30px;
    margin-right: 40px;
    margin-left: 40px;
    text-align: end;
}

} /*FIN DU MEDIA QUERY */