{% extends 'base.html.twig' %}

{% block title %}Hello FinalPanierController!{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/style_final.css') }}">
{% endblock %}

{% block javascripts %}
    {{parent()}}


{% endblock %}


{% block body %}
<main>

    <div class="final-container">

        <div class="final-text">Vous avez presque finis ! Entrez vos information de paiement    </div>

        <div class="final-DB">
            <div class="final-pay">
                <div class="final_card fim">
                     <label for="cb-num">Numéro de Carte banquaire</label>
                     <input type="text" name="cb-num" placeholder="XXXX-XXXX-XXXX-XXXX" >
                </div>
                <div class="final_card">
                    <label for="cb-sec">Code de sécurité</label>
                    <input type="text" name="cb-sec" placeholder="XXX" >

                </div>

                <div class="final_card">
                    <label for="cb-date">Date d'expiration</label>
                    <input type="text" name="cb-date" placeholder="MM/YY" >
                </div>



            </div>

            <div class="final-summary">

                <div class="finalP_titre">Mes Achats</div>
                <hr>
                <div id="finalprod">

                </div>

                <hr>
                <p class="Tot-spaceB"><span class="Ttext">TOTAL</span><span id="totalPR">  </span></p>


            </div>
        </div>

    </div>





    {% endblock %}

    {% block scriptbelow%}
        <script type="text/javascript" defer>

        liste = '{{ Liste }}'
        tabliste = JSON.parse(liste.replace(/(&quot\;)/g,"\""));
        totalG = 0

        tabliste.forEach(uneinfo => {
            prix = uneinfo.prix
            qte = uneinfo.quantite
            totalG += qte * prix



            html = `<div id="${uneinfo.id}" class="finalP_art">
                        <h4>${uneinfo.article}</h4>
                        <div class="finalP_info">
                            <p> Prix à l'unité : ${uneinfo.prix} €</p> <p> Qté : ${uneinfo.quantite}</p>
                        </div>

                    </div>`;

    document.getElementById('finalprod').innerHTML += html

})
     document.getElementById('totalPR').innerHTML += totalG+" €"
    </script>

    {% endblock %}