{% extends 'base.html.twig' %}

{% block title %}Hello FinalPanierController!{% endblock %}

{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/styles_final.css') }}">
{% endblock %}

{% block body %}
<main>

    <div class="final-container">

        <div class="final-text"></div>

        <div class="final-DB">
            <div class="final-pay"></div>
            <div class="final-summary"></div>
        </div>

    </div>





    {% endblock %}

