{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" href="{{ asset('css/style_final.css') }}">
{% endblock %}
{% block title %}La Cohorte | Accueil{% endblock %}

{% block body %}
<main>
    <div class="hero_image">

        <div class="hero_text">
            <h1> Découvrez les activités de votre ville en quelques clics</h1>
            <p>Vous êtes à quelques instant de merveilleux moments !</p>
            <p></p>


        </div>


    </div>
    <div class="acc_text">
        <div class="acc_intro">
            <p>En famille, entre amis, ou pour son plaisir, notre ville a tout ce qu'il faut pour amuser petits et grands ! Pas d'exceptions quand on parle de divertissement, après tout lorsque l'on veut passer de bons moments il n'y a rien de mieux que découvrir quelque chose de nouveau, et pas n'importe comment !</p>
            <p>Vous trouverez sur ce site tout ce qu'il vous faut savoir pour participer à la meilleure présentation du matin au soir, qu'il s'agisse des tarifs, des places disponibles et des dates ! Et n'oubliez pas de vous inscrire, pour mieux garder trace des œuvres que vous avez déjà regardées, et de celles qui pourraient vous intéresser !</p>
        </div>
        <div class="acc_hook">
            <p class="acc_hookT">Spectacle, théâtre, et Opéra son au menu, mais aussi des comédies musicales et des concerts, il y en a pour tous les goûts, qu'attendez vous ?</p>
            <div class="acc_redir onclick"> <a href="{{ path('app_manif') }}">Je découvre</a>  </div>
        </div>
    </div>


{% endblock %}
